<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otd.otd_challenge.application.challenge.ChallengeMapper">
    <select id="findAll">
        SELECT cd_id AS id, cd_goal AS goal, cd_image AS image,
               cd_name AS name, cd_type AS type, cd_reward AS reward
        FROM challenge_definition
    </select>
    <select id="findAllProgressFromUserId">
        SELECT cp.user_id AS userId, cp.cp_id AS cpId, cp.cd_id AS cdId,
               cp.start_date, cp.end_date, cp.total_record, cd.cd_image AS image,
               cd.cd_type AS type, cd.cd_name AS `name`,
               cd.cd_reward AS reward
        FROM challenge_progress cp
        INNER JOIN challenge_definition cd
        ON cd.cd_id = cp.cd_id
        WHERE cp.user_id = #{userId}
        AND Year(cp.start_date) = #{year}
        AND Month(cp.start_date) = #{month}
    </select>
    <select id="findByType">
        SELECT cd.cd_id AS id, cd.cd_goal AS goal, cd.cd_image AS image,
        cd.cd_name AS name, cd.cd_type AS type, cd.cd_reward AS reward
        FROM challenge_definition cd
        WHERE cd.cd_id NOT IN(SELECT cp.cd_id FROM challenge_progress cp WHERE cp.user_id = #{userId}
                                                                        AND YEAR(cp.start_date) = #{year}
                                                                        AND MONTH(cp.start_date) = #{month})
        AND cd.cd_type = #{type}
    </select>
    <select id="findByTypeForCompetition">
        SELECT cd_id AS id, cd_goal AS goal, cd_image AS image,
        cd_name AS name, cd_type AS type, cd_reward AS reward
        FROM challenge_definition
        WHERE cd_name NOT IN(SELECT cd.cd_name
                            FROM challenge_definition cd
                            INNER JOIN challenge_progress cp
                            ON cd.cd_id = cp.cd_id AND cd.cd_type = #{type}
                            WHERE cp.user_id = #{userId}
                            AND YEAR(cp.start_date) = #{year}
                            AND MONTH(cp.start_date) = #{month})
        AND cd_type = #{type};
    </select>
    <select id="findProgressByUserIdAndCdId">
        SELECT cp.total_record, cp.user_id AS user_id,
               cd.cd_id AS cdId, cd.cd_goal AS goal,
               cd.cd_name AS `name`, cd.`reward` AS reward
        FROM challenge_progress cp
        INNER JOIN challenge_definition cd
        ON cp.cd_id = cd.cd_id
        WHERE cp.user_id = #{userId}
        AND cd.cd_id = #{cdId}
        AND Year(cp.start_date) = #{year}
        AND Month(cp.start_date) = #{month};
    </select>
    <select id="findRankingLimitFive">
        SELECT u.nick_name, u.pic, cp.total_record,
                (SELECT COUNT(DISTINCT u2.user_id)
                FROM user u2
                INNER JOIN challenge_progress cp2
                ON u2.user_id = cp2.user_id
                WHERE cp2.cd_id = #{cdId}
                AND YEAR(cp2.start_date) = #{year}
                AND MONTH(cp2.start_date) = #{month})
                AS total_user
                RANK() OVER(ORDER BY cp.total_record DESC) AS `rank`
        FROM user u
        INNER JOIN challenge_progress cp
        ON u.user_id = cp.user_id
        WHERE cp.cd_id = #{cdId}
        AND Year(cp.start_date) = #{year}
        AND Month(cp.start_date) = #{month}
        LIMIT 5;
    </select>
</mapper>
